<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find centauro)/centauro_urdf/urdf/config.xacro"/>

<xacro:macro name="model" params="model">

   <xacro:macro name="load_model" params="path model">
   <!-- load proper collision model -->

      <xacro:include filename="$(find centauro)/centauro_urdf/urdf/models/${path}/primitive.xacro"/>

      <xacro:if value="${model in ['mesh', 'capsule', 'convex_hull', 'simplified']}">
         <xacro:include filename="$(find centauro)/centauro_urdf/urdf/models/${path}/${model}.xacro"/>
      </xacro:if>

   </xacro:macro>

   <xacro:load_model path="upper_body" model="${model}"/>
   <xacro:load_model path="lower_body" model="${model}"/>

   <xacro:if value="${left_end_effector in ['soft_hand', 'stick', 'heri']}" >
      <xacro:load_model path="upper_body/end_effectors/${left_end_effector}"  model="${model}"/>
   </xacro:if>
   <xacro:if value="${right_end_effector in ['soft_hand', 'stick', 'heri']}" >
      <xacro:load_model path="upper_body/end_effectors/${right_end_effector}"  model="${model}"/>
   </xacro:if>
   <xacro:if value="${head in [True, 'true']}" >
      <xacro:load_model path="upper_body/head"  model="${model}"/>
   </xacro:if>


</xacro:macro>


</robot>
