<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find centauro)/centauro_urdf/urdf/config.xacro"/>

  <xacro:force-torque_sensor joint="j_ft_1" robot="centauro"/>
  <xacro:if value="${arms}">
    <xacro:force-torque_sensor joint="j_ft_2" robot="centauro"/>
  </xacro:if>
</robot>
