<!--<?xml version="1.0"?>-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="force-torque_sensor" params="joint robot ft_name pose">

        <gazebo reference="${joint}">
            <sensor type="force_torque" name="${ft_name}">
                        <force_torque>
                        <frame>parent</frame>
                        <measure_direction>child_to_parent</measure_direction>
                        </force_torque>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>1000</update_rate>
                <pose>${pose}</pose>
            </sensor>
        </gazebo>

</xacro:macro>

</robot>
