<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- General Data -->
<xacro:property name="link_width" value=" 0.100000 "/>
<xacro:property name="link_visual" value=" 0.050000 "/>
<xacro:property name="motors_radius" value=" 0.050000 "/>
<xacro:property name="motors_length" value=" 0.100000 "/>
<xacro:property name="motors_weight" value=" 1.500000 "/>

<xacro:property name="wheel_radius" value=" 0.100000 "/>
<xacro:property name="wheel_length" value=" 0.050000 "/>
<xacro:property name="wheel_weight" value=" 2.000000 "/>

<!-- Center of Mass -->
<xacro:property name="Pelvis_x" value=" -0.070400 "/>
<xacro:property name="Pelvis_y" value=" 0.000000 "/>
<xacro:property name="Pelvis_z" value=" -0.041600 "/>
<!-- Inertia -->
<xacro:property name="Pelvis_xx" value=" 0.242311 "/>
<xacro:property name="Pelvis_yy" value=" 1.338707 "/>
<xacro:property name="Pelvis_zz" value=" 1.369479 "/>
<xacro:property name="Pelvis_xy" value=" 0.000000 "/>
<xacro:property name="Pelvis_xz" value=" -0.233584 "/>
<xacro:property name="Pelvis_yz" value=" 0.000000 "/>
<!-- Mass -->
<xacro:property name="Pelvis_mass" value=" 25.000000 "/>

<!-- Center of Mass -->
<xacro:property name="Leg_1_x" value=" 0.000000 "/>
<xacro:property name="Leg_1_y" value=" 0.000000 "/>
<xacro:property name="Leg_1_z" value=" -0.175000 "/>
<!-- Inertia -->
<xacro:property name="Leg_1_xx" value=" 0.006237 "/>
<xacro:property name="Leg_1_yy" value=" 0.005925 "/>
<xacro:property name="Leg_1_zz" value=" 0.002488 "/>
<xacro:property name="Leg_1_xy" value=" 0.000000 "/>
<xacro:property name="Leg_1_xz" value=" 0.000000 "/>
<xacro:property name="Leg_1_yz" value=" -0.000000 "/>
<!-- Mass -->
<xacro:property name="Leg_1_mass" value=" 2.000000 "/>

<!-- Center of Mass -->
<xacro:property name="Leg_2_x" value=" 0.000000 "/>
<xacro:property name="Leg_2_y" value=" 0.000000 "/>
<xacro:property name="Leg_2_z" value=" -0.233333 "/>
<!-- Inertia -->
<xacro:property name="Leg_2_xx" value=" 0.037113 "/>
<xacro:property name="Leg_2_yy" value=" 0.036800 "/>
<xacro:property name="Leg_2_zz" value=" 0.003988 "/>
<xacro:property name="Leg_2_xy" value=" 0.000000 "/>
<xacro:property name="Leg_2_xz" value=" 0.000000 "/>
<xacro:property name="Leg_2_yz" value=" -0.000000 "/>
<!-- Mass -->
<xacro:property name="Leg_2_mass" value=" 4.500000 "/>

<!-- Center of Mass -->
<xacro:property name="Leg_3_x" value=" 0.000000 "/>
<xacro:property name="Leg_3_y" value=" 0.000000 "/>
<xacro:property name="Leg_3_z" value=" -0.150000 "/>
<!-- Inertia -->
<xacro:property name="Leg_3_xx" value=" 0.004433 "/>
<xacro:property name="Leg_3_yy" value=" 0.004433 "/>
<xacro:property name="Leg_3_zz" value=" 0.002100 "/>
<xacro:property name="Leg_3_xy" value=" 0.000000 "/>
<xacro:property name="Leg_3_xz" value=" 0.000000 "/>
<xacro:property name="Leg_3_yz" value=" 0.000000 "/>
<!-- Mass -->
<xacro:property name="Leg_3_mass" value=" 3.500000 "/>

<!-- Center of Mass -->
<xacro:property name="Torso_2_x" value=" 0.000000 "/>
<xacro:property name="Torso_2_y" value=" 0.000000 "/>
<xacro:property name="Torso_2_z" value=" 0.183333 "/>
<!-- Inertia -->
<xacro:property name="Torso_2_xx" value=" 0.094335 "/>
<xacro:property name="Torso_2_yy" value=" 0.029946 "/>
<xacro:property name="Torso_2_zz" value=" 0.068486 "/>
<xacro:property name="Torso_2_xy" value=" 0.000085 "/>
<xacro:property name="Torso_2_xz" value=" -0.000031 "/>
<xacro:property name="Torso_2_yz" value=" 0.000017 "/>
<!-- Mass -->
<xacro:property name="Torso_2_mass" value=" 3.000000 "/>

<!-- Center of Mass -->
<xacro:property name="Shoulder_1_x" value=" 0.000000 "/>
<xacro:property name="Shoulder_1_y" value=" 0.064706 "/>
<xacro:property name="Shoulder_1_z" value=" 0.000000 "/>
<!-- Inertia -->
<xacro:property name="Shoulder_1_xx" value=" 0.002332 "/>
<xacro:property name="Shoulder_1_yy" value=" 0.001345 "/>
<xacro:property name="Shoulder_1_zz" value=" 0.002332 "/>
<xacro:property name="Shoulder_1_xy" value=" 0.000000 "/>
<xacro:property name="Shoulder_1_xz" value=" 0.000000 "/>
<xacro:property name="Shoulder_1_yz" value=" -0.000000 "/>
<!-- Mass -->
<xacro:property name="Shoulder_1_mass" value=" 1.700000 "/>

<!-- Center of Mass -->
<xacro:property name="Shoulder_2_x" value=" 0.000000 "/>
<xacro:property name="Shoulder_2_y" value=" 0.000000 "/>
<xacro:property name="Shoulder_2_z" value=" -0.125000 "/>
<!-- Inertia -->
<xacro:property name="Shoulder_2_xx" value=" 0.005879 "/>
<xacro:property name="Shoulder_2_yy" value=" 0.005879 "/>
<xacro:property name="Shoulder_2_zz" value=" 0.001525 "/>
<xacro:property name="Shoulder_2_xy" value=" 0.000000 "/>
<xacro:property name="Shoulder_2_xz" value=" 0.000000 "/>
<xacro:property name="Shoulder_2_yz" value=" 0.000000 "/>
<!-- Mass -->
<xacro:property name="Shoulder_2_mass" value=" 2.000000 "/>

<!-- Center of Mass -->
<xacro:property name="Shoulder_3_x" value=" 0.000000 "/>
<xacro:property name="Shoulder_3_y" value=" 0.000000 "/>
<xacro:property name="Shoulder_3_z" value=" -0.093750 "/>
<!-- Inertia -->
<xacro:property name="Shoulder_3_xx" value=" 0.003989 "/>
<xacro:property name="Shoulder_3_yy" value=" 0.003884 "/>
<xacro:property name="Shoulder_3_zz" value=" 0.001629 "/>
<xacro:property name="Shoulder_3_xy" value=" 0.000000 "/>
<xacro:property name="Shoulder_3_xz" value=" 0.000000 "/>
<xacro:property name="Shoulder_3_yz" value=" -0.000000 "/>
<!-- Mass -->
<xacro:property name="Shoulder_3_mass" value=" 2.000000 "/>

<!-- Center of Mass -->
<xacro:property name="Elbow_1_x" value=" 0.000000 "/>
<xacro:property name="Elbow_1_y" value=" 0.000000 "/>
<xacro:property name="Elbow_1_z" value=" -0.090000 "/>
<!-- Inertia -->
<xacro:property name="Elbow_1_xx" value=" 0.002589 "/>
<xacro:property name="Elbow_1_yy" value=" 0.002589 "/>
<xacro:property name="Elbow_1_zz" value=" 0.001105 "/>
<xacro:property name="Elbow_1_xy" value=" 0.000000 "/>
<xacro:property name="Elbow_1_xz" value=" 0.000000 "/>
<xacro:property name="Elbow_1_yz" value=" 0.000000 "/>
<!-- Mass -->
<xacro:property name="Elbow_1_mass" value=" 1.300000 "/>

<!-- Center of Mass -->
<xacro:property name="Elbow_2_x" value=" 0.000000 "/>
<xacro:property name="Elbow_2_y" value=" 0.000000 "/>
<xacro:property name="Elbow_2_z" value=" -0.067857 "/>
<!-- Inertia -->
<xacro:property name="Elbow_2_xx" value=" 0.002073 "/>
<xacro:property name="Elbow_2_yy" value=" 0.001969 "/>
<xacro:property name="Elbow_2_zz" value=" 0.001269 "/>
<xacro:property name="Elbow_2_xy" value=" 0.000000 "/>
<xacro:property name="Elbow_2_xz" value=" 0.000000 "/>
<xacro:property name="Elbow_2_yz" value=" -0.000000 "/>
<!-- Mass -->
<xacro:property name="Elbow_2_mass" value=" 1.400000 "/>

<!-- Center of Mass -->
<xacro:property name="Wrist_1_x" value=" 0.000000 "/>
<xacro:property name="Wrist_1_y" value=" 0.000000 "/>
<xacro:property name="Wrist_1_z" value=" -0.094545 "/>
<!-- Inertia -->
<xacro:property name="Wrist_1_xx" value=" 0.002301 "/>
<xacro:property name="Wrist_1_yy" value=" 0.002301 "/>
<xacro:property name="Wrist_1_zz" value=" 0.000985 "/>
<xacro:property name="Wrist_1_xy" value=" 0.000000 "/>
<xacro:property name="Wrist_1_xz" value=" 0.000000 "/>
<xacro:property name="Wrist_1_yz" value=" 0.000000 "/>
<!-- Mass -->
<xacro:property name="Wrist_1_mass" value=" 1.100000 "/>

<!-- Center of Mass -->
<xacro:property name="Hand_x" value=" 0.000000 "/>
<xacro:property name="Hand_y" value=" 0.000000 "/>
<xacro:property name="Hand_z" value=" -0.075000 "/>
<!-- Inertia -->
<xacro:property name="Hand_xx" value=" 0.001303 "/>
<xacro:property name="Hand_yy" value=" 0.001303 "/>
<xacro:property name="Hand_zz" value=" 0.001020 "/>
<xacro:property name="Hand_xy" value=" 0.000000 "/>
<xacro:property name="Hand_xz" value=" 0.000000 "/>
<xacro:property name="Hand_yz" value=" 0.000000 "/>
<!-- Mass -->
<xacro:property name="Hand_mass" value=" 1.700000 "/>

<!-- Center of Mass -->
<xacro:property name="Wheel_x" value=" 0.000000 "/>
<xacro:property name="Wheel_y" value=" 0.000000 "/>
<xacro:property name="Wheel_z" value=" 0.000000 "/>
<!-- Inertia -->
<xacro:property name="Wheel_xx" value=" 0.005417 "/>
<xacro:property name="Wheel_yy" value=" 0.010000 "/>
<xacro:property name="Wheel_zz" value=" 0.005417 "/>
<xacro:property name="Wheel_xy" value=" 0.000000 "/>
<xacro:property name="Wheel_xz" value=" 0.000000 "/>
<xacro:property name="Wheel_yz" value=" 0.000000 "/>
<!-- Mass -->
<xacro:property name="Wheel_mass" value=" 2.000000 "/>

</robot>
