<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find centauro)/centauro_urdf/urdf/config.xacro"/>

  <xacro:middleware joint="j_arm1_8"  robot="centauro"  ft_name="left_arm_ft"/>
  <xacro:if value="${arms}">
    <xacro:middleware joint="j_arm2_8" robot="centauro" ft_name="right_arm_ft" />
  </xacro:if>
</robot>
