<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- links -->

   <link name="arm${arm_num}_8">
      <inertial>
         <origin xyz="${Hand_x} ${Hand_y} ${Hand_z}" rpy="0 0 0"/>
         <mass value="${Hand_mass}"/>
         <inertia ixx="${Hand_xx}"  ixy="${Hand_xy}"  ixz="${Hand_xz}" iyy="${Hand_yy}" iyz="${Hand_yz}" izz="${Hand_zz}" />
      </inertial>

      <visual>
         <xacro:visual_model.soft_hand />
         <material name="grey"/>
      </visual>

      <collision>
         <xacro:collision_model.soft_hand />
      </collision>
   </link>
<!-- /links -->

   <joint name="j_arm${arm_num}_8" type="fixed">
      <parent link="arm${arm_num}_7"/>
      <child link="arm${arm_num}_8"/>
      <origin xyz="${End_effector_Ox} ${End_effector_Oy} ${End_effector_Oz}" rpy="${End_effector_roll} ${End_effector_pitch} ${End_effector_yaw}"/>
      <axis xyz="1 0 0" />
      <limit velocity="20.3" effort="40" lower="0.0" upper="1.57075" />
   </joint> -->
<!-- /joints -->

<!-- actuators -->
   <xacro:position_actuator joint="j_arm${arm_num}_8" />
<!-- /actuators -->


</robot>
