<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="centauro">

<!-- constants -->
<xacro:property name="PI" value="3.14159265359"/>
<xacro:property name="collision" value="0.05"/>
<!-- /constants -->

<!-- other files -->
<xacro:include filename="$(find centauro)/centauro_urdf/urdf/config.xacro"/>
<xacro:if value="${GAZEBO}">
  <xacro:include filename="$(find centauro_gazebo)/urdf/centauro.gazebo"/>
</xacro:if>
<xacro:include filename="${inertia_parameters_file}"/>
<xacro:include filename="${kinematic_parameters_file}"/>
<xacro:include filename="$(find centauro)/centauro_urdf/limits/${limits}.xacro"/>
<xacro:include filename="$(find centauro)/centauro_urdf/materials.xacro"/>
<xacro:include filename="$(find centauro)/centauro_urdf/urdf/models/model.xacro"/>
<xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_actuators.urdf.xacro" />
<xacro:if value="${legs}">
  <xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_leg.urdf.xacro"/>
</xacro:if>
<xacro:if value="${arms}">
  <xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_arm.urdf.xacro"/>
</xacro:if>


<!-- /other files -->

<!-- reference -->
<!-- <link name="base_link"/>

<joint name="base_joint" type="fixed">
   <origin xyz="0 0 0"/>
   <parent link="base_link"/>
   <child link="world"/>
</joint>
-->
<link name="world"/>

<xacro:if value="${pelvis in [True, 'true']}">

   <link name="pelvis">

      <inertial>
         <origin xyz="${Pelvis_x} ${Pelvis_y} ${Pelvis_z}"/>
         <mass value="${Pelvis_mass}"/>
         <inertia ixx="${Pelvis_xx}" ixy="${Pelvis_xy}" ixz="${Pelvis_xz}" iyy="${Pelvis_yy}" iyz="${Pelvis_yz}" izz="${Pelvis_zz}"/>
      </inertial>

      <visual>
         <xacro:visual_model.pelvis />
      </visual>

      <collision>
         <xacro:collision_model.pelvis />
      </collision>

   </link>


    <link name="imu_link">
        <inertial>
            <mass value="0.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="pelvis"/>
        <origin xyz="${Imu_Ox} ${Imu_Oy} ${Imu_Oz}" rpy="${Imu_raw} ${Imu_pitch} ${Imu_yaw}"/>
        <child link="imu_link"/>
    </joint>

</xacro:if>

<xacro:if value="${pelvis not in [True, 'true']}">
   <link name="pelvis"/>
</xacro:if>

<joint name="reference" type="${reference}">
   <origin xyz="${Pelvis_Ox} ${Pelvis_Oy} ${Pelvis_Oz}"/>
   <parent link="world"/>
   <child link="pelvis"/>
</joint>
<!-- /reference  -->

<!-- torso -->
<xacro:if value="${torso in [True, 'true']}">
   <xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_torso.urdf.xacro"/>
</xacro:if>
<xacro:if value="${head in [True, 'true']}">
   <xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_head.urdf.xacro"/>
</xacro:if>
<!-- /torso -->


<!-- arms -->
<xacro:if value="${left_arm in [True, 'true']}">
   <xacro:centauro_arm arm_num="1"  rot="1"  parent="torso_2" end_effector="${left_end_effector}" mount="${left_arm_mount}">
      <origin xyz="${Shoulder_1_Ox} ${Shoulder_1_Oy} ${Shoulder_1_Oz}" rpy="${Shoulder_1_roll} ${Shoulder_1_pitch} ${Shoulder_1_yaw}"/>
   </xacro:centauro_arm>
</xacro:if>
<xacro:if value="${right_arm in [True, 'true']}">
   <xacro:centauro_arm arm_num="2" rot="-1"  parent="torso_2" end_effector="${right_end_effector}" mount="${right_arm_mount}">
      <origin xyz="${Shoulder_1_Ox} ${-Shoulder_1_Oy} ${Shoulder_1_Oz}" rpy="${-Shoulder_1_roll} ${Shoulder_1_pitch} ${-Shoulder_1_yaw}" />
   </xacro:centauro_arm>
</xacro:if>


<!-- /arms -->


<!-- legs -->
<xacro:if value="${legs}">

<xacro:centauro_leg leg_num="1" origin_x="1" origin_y="-1">
</xacro:centauro_leg>

<xacro:centauro_leg leg_num="2" origin_x="1" origin_y="1">
</xacro:centauro_leg>

<xacro:centauro_leg leg_num="3" origin_x="-1" origin_y="-1">
</xacro:centauro_leg>

<xacro:centauro_leg leg_num="4" origin_x="-1" origin_y="1">
</xacro:centauro_leg>

</xacro:if>

<!-- /legs -->



</robot>
