<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="centauro">

<!-- constants -->
<xacro:property name="PI" value="3.14159265359"/>
<xacro:property name="collision" value="0.05"/>
<!-- /constants -->

<!-- other files -->
<xacro:include filename="$(find centauro)/centauro_urdf/urdf/config.xacro"/>
<xacro:if value="${GAZEBO}">
  <xacro:include filename="$(find centauro_gazebo)/urdf/centauro.gazebo"/>
</xacro:if>
<xacro:include filename="${inertia_parameters_file}"/>
<xacro:include filename="${kinematic_parameters_file}"/>

<xacro:include filename="$(find centauro)/centauro_urdf/materials.xacro"/>
<xacro:include filename="$(find centauro)/centauro_urdf/urdf/models/model.xacro"/>
<xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_actuators.urdf.xacro" />
<xacro:if value="${LEGS}">
  <xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_leg.urdf.xacro"/>
</xacro:if>
<xacro:if value="${arm}">
  <xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_arm.urdf.xacro"/>
</xacro:if>

<xacro:include filename="$(find centauro)/centauro_urdf/urdf/models/upper_body/end_effectors/schunk_hand/svh_gazebo.urdf.xacro" /> 
<xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_eef.urdf.xacro"/>


<!-- /other files -->

<xacro:if value="${pelvis}">

   <link name="pelvis">

      <inertial>
         <origin xyz="${Pelvis_x} ${Pelvis_y} ${Pelvis_z}"/>
         <mass value="${Pelvis_mass}"/>
         <inertia ixx="${Pelvis_xx}" ixy="${Pelvis_xy}" ixz="${Pelvis_xz}" iyy="${Pelvis_yy}" iyz="${Pelvis_yz}" izz="${Pelvis_zz}"/>
      </inertial>

      <visual>
         <xacro:visual_model.pelvis />
      </visual>

      <collision>
         <xacro:collision_model.pelvis />
      </collision>

   </link>


    <link name="imu_link">
        <inertial>
            <mass value="0.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="pelvis"/>
        <origin xyz="${Imu_Ox} ${Imu_Oy} ${Imu_Oz}" rpy="${Imu_raw} ${Imu_pitch} ${Imu_yaw}"/>
        <child link="imu_link"/>
    </joint>

</xacro:if>

<xacro:unless value="${pelvis}">
   <link name="pelvis"/>
</xacro:unless>

<link name="base_link" />
<joint name="base_pelvis" type="fixed">
   <parent link="base_link" />
   <child link="pelvis" />
   <origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<xacro:if value="${include_world}">
   <!-- reference -->
   <link name="world"/>

   <joint name="reference" type="${reference}">
      <origin xyz="${Pelvis_Ox} ${Pelvis_Oy} ${Pelvis_Oz}"/>
      <parent link="world"/>
      <child link="base_link"/>
   </joint>
</xacro:if>
<!-- /reference  -->

<!-- torso -->
   <xacro:include filename="$(find centauro)/centauro_urdf/urdf/centauro_torso_fixed.urdf.xacro"/>
<!-- /torso -->

<!-- arm -->
   <xacro:centauro_arm arm_num="2" rot="-1"  parent="torso_2" end_effector="${RIGHT_END_EFFECTOR}">
      <origin xyz="${Shoulder_1_Ox} ${-Shoulder_1_Oy} ${Shoulder_1_Oz}" rpy="${Shoulder_1_roll} ${Shoulder_1_pitch} ${-Shoulder_1_yaw}" />
   </xacro:centauro_arm>
<!-- /arm -->

</robot>
