<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- links -->
   <link name="arm${arm_num}_8">
      <inertial>
         <origin xyz="${Stick_x} ${Stick_y} ${Stick_z}" rpy="0 0 0"/>
         <mass value="${Stick_mass}"/>
       <inertia ixx="${Stick_xx}"  ixy="${Stick_xy}"  ixz="${Stick_xz}" iyy="${Stick_yy}" iyz="${Stick_yz}" izz="${Stick_zz}" />
<!--          <inertia ixx="0.003"  ixy="0"  ixz="0" iyy="0.0025" iyz="0" izz="0.00016900" /> -->
     </inertial>

      <visual>
         <xacro:visual_model.stick />
         <material name="dark_grey"/>
      </visual>

      <collision>
         <xacro:collision_model.stick />
      </collision>
   </link>
<!-- /links -->

<!-- joints -->
   <joint name="j_arm${arm_num}_8" type="fixed">
<!--      <xacro:if value="${ft_sensors == 'true'}" > -->
         <parent link="ft_arm${arm_num}"/>
         <origin xyz="${Stick_ft_Ox} ${Stick_ft_Oy} ${Stick_ft_Oz}" rpy="${Stick_ft_roll} ${Stick_ft_pitch} ${Stick_ft_yaw}"/>
<!--      </xacro:if>
      <xacro:unless value="${ft_sensors == 'true'}" >
         <parent link="arm${arm_num}_7"/>
         <origin xyz="${Stick_Ox} ${Stick_Oy} ${Stick_Oz}" rpy="${Stick_roll} ${Stick_pitch} ${Stick_yaw}"/>
      </xacro:unless> -->
      <child link="arm${arm_num}_8"/>

      <axis xyz="1 0 0" />
   </joint> -->
<!-- /joints -->

</robot>
