<!--<?xml version="1.0"?>-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="position_actuator" params="joint">
	
<transmission name="t_${joint}">
	<type> transmission_interface/SimpleTransmission</type>
	<joint name="${joint}">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	</joint>
	<actuator name="motor_${joint}">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		<machanicalReduction>1</machanicalReduction>
	</actuator>
	<robotNamespace>/centauro</robotNamespace>
</transmission> 

</xacro:macro>

</robot>
