<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- links -->
<xacro:macro name="soft_hand" params="arm_num rot joint">
   <link name="arm${arm_num}_8">
      <inertial>
         <origin xyz="${Hand_x} ${Hand_y} ${Hand_z}" rpy="0 0 0"/>
         <mass value="${Hand_mass}"/>
         <inertia ixx="${Hand_xx}"  ixy="${Hand_xy}"  ixz="${Hand_xz}" iyy="${Hand_yy}" iyz="${Hand_yz}" izz="${Hand_zz}" />
      </inertial>

      <visual>
         <xacro:visual_model.soft_hand />
         <material name="grey"/>
      </visual>

      <collision>
         <xacro:collision_model.soft_hand />
      </collision>
   </link>
<!-- /links -->

   <joint name="j_arm${arm_num}_8" type="${joint}">
<!--      <xacro:if value="${ft_sensors == 'true'}" > -->
         <parent link="ft_arm${arm_num}"/>
         <origin xyz="${Hand_ft_Ox} ${Hand_ft_Oy} ${Hand_ft_Oz}" rpy="${Hand_ft_roll} ${Hand_ft_pitch} ${Hand_ft_yaw}"/>
<!--      </xacro:if> -->
<!--      <xacro:unless value="${ft_sensors == 'true'}" >
         <parent link="arm${arm_num}_7"/>
         <origin xyz="${Hand_Ox} ${Hand_Oy} ${Hand_Oz}" rpy="${Hand_roll} ${Hand_pitch} ${Hand_yaw}"/>
      </xacro:unless> -->
      <child link="arm${arm_num}_8"/>
      <xacro:if value="${joint not in ['fixed']}" >
         <axis xyz="0 1 0" />
         <limit velocity="20.3" effort="40" lower="0.0" upper="0.0" />
      </xacro:if>

   </joint> -->
<!-- /joints -->

<!-- actuators -->
   <xacro:if value="${joint not in ['fixed']}" >
     <xacro:position_actuator joint="j_arm${arm_num}_8" />
   </xacro:if>
<!-- /actuators -->

</xacro:macro>
</robot>
