<?xml version="1.0" ?>
<robot name="centauro" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- links -->

    <link name="arm${arm_num}_8">

        <visual>
            <geometry>
                <!--box size="0.4 0.02 0.1"/-->
                <box size="0.4 0.03 0.03"/>
                <!--cylinder length="0.3" radius="0.02"/-->
            </geometry>
        </visual>

        <collision>
            <geometry>
                <!--box size="0.4 0.02 0.1"/-->
                <box size="0.4 0.03 0.03"/>
                <!--cylinder length="0.3" radius="0.02"/-->
            </geometry>
        </collision>

        <inertial>
            <mass value="0.34"/>
	    <!--origin xyz="0 0 0" rpy="0 0 0"/-->
            <inertia ixx="5.97e-5" ixy="0.0" ixz="0.0" iyy="4.55e-3" iyz="0.0" izz="4.55e-3"/>
        </inertial>

    </link>
    <!-- /links -->

    <xacro:if value="${arm_num == 1}">
        <joint name="j_arm${arm_num}_8" type="fixed">
            <parent link="arm${arm_num}_7"/>
            <child link="arm${arm_num}_8"/>
            <origin xyz="0 0 -0.05" rpy="0 0 0.5"/>
        </joint>
    </xacro:if>

    <xacro:if value="${arm_num == 2}">
        <joint name="j_arm${arm_num}_8" type="fixed">
            <parent link="arm${arm_num}_7"/>
            <child link="arm${arm_num}_8"/>
            <origin xyz="0 0 -0.05" rpy="0 0 -0.5"/>
        </joint>
    </xacro:if>

    <!--origin xyz="0 0 -0.0605" rpy="0 1.5707 0.5"/-->
    <!--origin xyz="0 0 -0.0605" rpy="0 1.5707 -0.5"/-->


    <!-- /joints -->

        <!--joint name="j_arm${arm_num}_8" type="fixed">
            <parent link="arm${arm_num}_7"/>
            <child link="arm${arm_num}_8"/>
            <origin xyz="0 0 -0.05" rpy="0 0 0"/>
        </joint-->

</robot>
