<?xml version="1.0" ?>
<robot name="centauro" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- links -->

   <link name="arm${arm_num}_8"/>

<!-- /links -->

   <joint name="j_arm${arm_num}_8" type="revolute">
      <parent link="arm${arm_num}_7"/>
      <child link="arm${arm_num}_8"/>
      <origin xyz="0 0 -0.0405" rpy="0 ${PI} ${-PI/2}"/>
      <axis xyz="1 0 0" />
      <limit velocity="0" effort="0" lower="0.0" upper="0" />
   </joint> -->
<!-- /joints -->


</robot>
