<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="centauro">
<!-- /other files -->

<link name="world"/>

<link name="pelvis">

      <inertial>
         <origin xyz="0 0 0"/>
         <mass value="1"/>
         <inertia ixx="${Pelvis_xx}" ixy="0" ixz="0" iyy="${Pelvis_yy}" iyz="0" izz="${Pelvis_zz}"/>
      </inertial>
	
      <visual>
         <origin xyz="0 0 0"  rpy="0.0 0.0 0.0"/>
         <geometry>
            <box size="0.1 0.1 0.1"/>
         </geometry>
         <material name="grey"/>
      </visual>
	
      <collision>
         <origin xyz="0 0 0"  rpy="0.0 0.0 0.0"/>
         <geometry>
            <box size="0.1 0.1 0.1"/>
         </geometry>
         <material name="grey"/>
      </collision>

</link>


<joint name="reference" type="floating">
   <origin xyz="0 0 0.1"/>
   <parent link="world"/>
   <child link="pelvis"/>
</joint>

<gazebo reference="pelvis">
	<material>Gazebo/Grey</material>
	<mu1>0</mu1>
	<mu2>0</mu2>
</gazebo>

<gazebo reference="reference">
	<material>Gazebo/Grey</material>
	<mu1>0</mu1>
	<mu2>0</mu2>
</gazebo>

</robot>
