<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find centauro)/centauro_urdf/urdf/config.xacro"/> 

   <xacro:macro name="load_model" params="middleware sensor arm_sensors leg_sensors">
      <xacro:include filename="$(find centauro_gazebo)/sensors/${middleware}/${sensor}/plugin.xacro"/>

      <xacro:if value="${arm_sensors}">
         <xacro:include filename="$(find centauro_gazebo)/sensors/${middleware}/${sensor}/load/arms.xacro"/>
      </xacro:if>
      <xacro:if value="${leg_sensors}">
         <xacro:include filename="$(find centauro_gazebo)/sensors/${middleware}/${sensor}/load/legs.xacro"/>
      </xacro:if>
   </xacro:macro>

<!-- Load all controllers macros -->
<xacro:if value="${ft_sensors}">
        <xacro:load_model middleware="${middleware}" sensor="ft_sensor" arm_sensors="${arm_sensors}" leg_sensors="${leg_sensors}"/>           
</xacro:if>
<xacro:if value="${bumbers}">
        <xacro:load_model middleware="${middleware}" sensor="bumber" arm_sensors="${arm_sensors}" leg_sensors="${leg_sensors}"/>
</xacro:if>
<xacro:if value="${imu}">
        <xacro:load_model middleware="${middleware}" sensor="imu" arm_sensors="${arm_sensors}" leg_sensors="${leg_sensors}"/>
</xacro:if>

</robot>
