<launch>

  <!-- basic set-up which progrmas should run -->
  <arg name="gazebo" default="true"/>
  <arg name="rviz" default="false"/>

  <!-- which inertia parameters should be loaded -->
  <arg name="inertia_param" default="original"/>
  <arg name="kinematic_param" default="original"/>
  <arg name="control_limits" default="control"/>
  <!-- centauro model configuration parameters -->
  <!-- centauro modules -->
  <arg name="arms" default="true"/>
  <arg name="torso" default="true"/>
  <arg name="legs" default="true"/>
  <arg name="head" default="true"/>
  <arg name="wheels" default="true"/>
  <arg name="static" default="false"/>
  <arg name="left_end_effector" default="empty"/>
  <arg name="right_end_effector" default="empty"/>
  <arg name="mass" default="0.0"/>

  <!-- which controller should be loaded:
       WARNING: exactly one parameter has to be true, otherwise simulation behaviour is undefined -->
  <arg name="controller" default="medium"/>

  <!-- sensors set-up-->
  <arg name="arm_sensors" default="true"/>
  <arg name="leg_sensors" default="true"/>
  <arg name="ft_sensors" default="true"/>
  <arg name="bumbers" default="true"/>
  <arg name="imu" default="true"/>
  <arg name="kinect" default="false"/>
  <arg name="velodyne" default="false"/>

  <arg name="middleware" default="ros_control"/>
  <arg name="xbot_config_file"  default="../../catkin_ws/src/DrivingFramework/configs/xbot/lower/centauro.yaml" />

  <arg name="collision_model" default="primitives"/>
  <arg name="visual_model" default="mesh"/>

  <!-- gazebo cofiguration parameters -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="physics" default="ode"/>

  <!-- actuators set-up-->
  <arg name="torso_actuators" default="true"/>
  <arg name="arm_actuators" default="true"/>
  <arg name="leg_actuators" default="true"/>
  <arg name="wheels_actuators" default="true"/>
  <arg name="head_actuators" default="true"/>

  <arg name="world" default="centauro"/>
  <arg name="world_name" default="$(find centauro_gazebo)/worlds/$(arg world).world"/>

  <!--arg name="world_name" default="$(find centauro_gazebo)/worlds/centauro.world"/-->

  <include file="$(find centauro_gazebo)/launch/centauro_world.launch">
      <arg name="arm_sensors" value="$(arg arm_sensors)"/>
      <arg name="leg_sensors" value="$(arg leg_sensors)"/>
      <arg name="ft_sensors" value="$(arg ft_sensors)"/>
      <arg name="bumbers" value="$(arg bumbers)"/>
      <arg name="imu" value="$(arg imu)"/>
      <arg name="kinect" value="$(arg kinect)"/>
      <arg name="velodyne" value="$(arg velodyne)"/>

      <arg name="xbot_config_file" value="$(arg xbot_config_file)"/>
      <arg name="middleware" value="$(arg middleware)"/>
      <arg name="collision_model" value="$(arg collision_model)"/>
      <arg name="visual_model" value="$(arg visual_model)"/>

      <arg name="paused" value="$(arg paused)"/>
      <arg name="gazebo" value="$(arg gazebo)"/>
      <arg name="rviz" value="$(arg rviz)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="physics" value="$(arg physics)"/>
      <arg name="world_name" value="$(arg world_name)"/>

      <arg name="inertia_param" value="$(arg inertia_param)"/>
      <arg name="kinematic_param" value="$(arg kinematic_param)"/>

      <arg name="arms" value="$(arg arms)"/>
      <arg name="torso" value="$(arg torso)"/>
      <arg name="legs" value="$(arg legs)"/>
      <arg name="head" value="$(arg head)"/>
      <arg name="wheels" value="$(arg wheels)"/>
      <arg name="static" value="$(arg static)"/>

      <arg name="right_end_effector" value="$(arg right_end_effector)"/>
      <arg name="left_end_effector" value="$(arg left_end_effector)"/>
      <arg name="mass" value="$(arg mass)"/>

  </include>

  <param name="robot_full"
         command="$(find xacro)/xacro --inorder '$(find centauro)/centauro_urdf/urdf/centauro.urdf.xacro'
                   GAZEBO:=false                        MIDDLEWARE:=none                   XBOT_CONFIG_FILE:=none
                   STATIC:=false                        LEFT_END_EFFECTOR:=none     RIGHT_END_EFFECTOR:=none   MASS:=0
                   ARMS:=true                            LEGS:=true                               TORSO:=true                             WHEELS:=true                           HEAD:=false
                   ARM_ACTUATORS:=true          LEG_ACTUATORS:=true             TORSO_ACTUATORS:=true         WHEELS_ACTUATORS:=true       HEAD_ACTUATORS:=false
                   ARM_SENSORS:=false             LEG_SENSORS:=true
                   FT_SENSORS:=true                BUMBERS:=true                         IMU:=true
                   VISUAL_MODEL:=$(arg visual_model)            COLLISION_MODEL:=$(arg collision_model)
                   INERTIA_PARAM:=$(arg inertia_param)          KINEMATIC_PARAM:=$(arg kinematic_param)       LIMITS:=$(arg control_limits)
        "/>

  <param name="robot_control"
         command="$(find xacro)/xacro --inorder '$(find centauro)/centauro_urdf/urdf/centauro.urdf.xacro'
                   GAZEBO:=false                        MIDDLEWARE:=none                   XBOT_CONFIG_FILE:=none
                   STATIC:=$(arg static)                        LEFT_END_EFFECTOR:=$(arg left_end_effector)     RIGHT_END_EFFECTOR:=$(arg right_end_effector)    MASS:=0
                   ARMS:=$(arg arms)                            LEGS:=$(arg legs)                 TORSO:=$(arg torso)                             WHEELS:=true                           HEAD:=false
                   ARM_ACTUATORS:=true          LEG_ACTUATORS:=true             TORSO_ACTUATORS:=true         WHEELS_ACTUATORS:=true       HEAD_ACTUATORS:=false
                   ARM_SENSORS:=false             LEG_SENSORS:=true
                   FT_SENSORS:=true                BUMBERS:=true                         IMU:=true
                   VISUAL_MODEL:=$(arg visual_model)            COLLISION_MODEL:=$(arg collision_model)
                   INERTIA_PARAM:=$(arg inertia_param)          KINEMATIC_PARAM:=$(arg kinematic_param)         LIMITS:=$(arg control_limits)
        "/>


  <param name="robot_lower_body"
         command="$(find xacro)/xacro --inorder '$(find centauro)/centauro_urdf/urdf/centauro.urdf.xacro'
                   GAZEBO:=false                        MIDDLEWARE:=none                   XBOT_CONFIG_FILE:=none
                   STATIC:=false                        LEFT_END_EFFECTOR:=none     RIGHT_END_EFFECTOR:=none   MASS:=0
                   ARMS:=false                            LEGS:=true                               TORSO:=false                             WHEELS:=true                           HEAD:=false
                   ARM_ACTUATORS:=false          LEG_ACTUATORS:=true             TORSO_ACTUATORS:=true         WHEELS_ACTUATORS:=true       HEAD_ACTUATORS:=false
                   ARM_SENSORS:=false             LEG_SENSORS:=true
                   FT_SENSORS:=true                BUMBERS:=true                         IMU:=true
                   VISUAL_MODEL:=$(arg visual_model)            COLLISION_MODEL:=$(arg collision_model)
                   INERTIA_PARAM:=$(arg inertia_param)          KINEMATIC_PARAM:=$(arg kinematic_param)         LIMITS:=$(arg control_limits)
        "/>
  <param name="robot_upper_body"
         command="$(find xacro)/xacro --inorder '$(find centauro)/centauro_urdf/urdf/centauro.urdf.xacro'
                   GAZEBO:=false                        MIDDLEWARE:=none                   XBOT_CONFIG_FILE:=none
                   STATIC:=false                        LEFT_END_EFFECTOR:=$(arg left_end_effector)     RIGHT_END_EFFECTOR:=$(arg right_end_effector)   MASS:=0
                   ARMS:=true                            LEGS:=false                               TORSO:=true                             WHEELS:=true                           HEAD:=false
                   ARM_ACTUATORS:=true          LEG_ACTUATORS:=true             TORSO_ACTUATORS:=true         WHEELS_ACTUATORS:=true       HEAD_ACTUATORS:=false
                   ARM_SENSORS:=false             LEG_SENSORS:=true
                   FT_SENSORS:=true                BUMBERS:=true                         IMU:=true
                   VISUAL_MODEL:=$(arg visual_model)            COLLISION_MODEL:=$(arg collision_model)
                   INERTIA_PARAM:=$(arg inertia_param)          KINEMATIC_PARAM:=$(arg kinematic_param)      LIMITS:=$(arg control_limits)
        "/>
  <param name="robot_srdf" textfile="$(find configs)/mgnss/configs/mwoibn/srdf/centauro_full_wheels.srdf"/>
  <param name="mwoibn_config" value="$(find configs)/mgnss/configs/mwoibn/configs/mwoibn_2_5.yaml"/>
  <param name="centauro/contacts_yaml" textfile="$(find configs)/mgnss/configs/mwoibn/configs/support/contacts.yaml" />
  <!-- run gazebo -->
  <group if="$(arg gazebo)">
  	<group if="$(eval middleware in ['ros_control'])">
  		<!-- ros_control centauro launch file -->
	  	<include file="$(find centauro_control)/launch/centauro_control.launch">
		    <arg name="torso_actuators" value="$(arg torso_actuators)" if="$(arg torso)"/>
		    <arg name="left_arm_actuators" value="$(arg arm_actuators)"  if="$(eval arms in [true, 'left'] and torso in [true, 'fixed'] )"/>
		    <arg name="right_arm_actuators" value="$(arg arm_actuators)"  if="$(eval arms in [true, 'right'] and torso in [true, 'fixed'])"/>
		    <arg name="leg_actuators" value="$(arg leg_actuators)" if="$(arg legs)"/>
		    <arg name="wheels_actuators" value="$(arg wheels_actuators)" if="$(eval wheels in [true] and legs in [true])"/>
		    <arg name="head_actuators" value="$(arg head_actuators)" if="$(eval head in [true] and torso in [true, 'fixed'])"/>
		    <arg name="controller" value="$(arg controller)"/>
	  	</include>
  	</group>
  	<!-- <group unless="$(arg rviz)">
	        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
			<param name="publish_frequency" type="double" value="250.0"/>
                        <remap from="/joint_states" to="/centauro/joint_states"/>
	        </node>
  	</group> -->
  </group>


</launch>
