<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
  <!-- Defines the convenient state for the cost function used in the gradient decent in the inverse kinematics -->
  
  <group_state name="convenient" group="front_left_leg">
    <joint name="hip_yaw_1" value="0.0" />
    <joint name="hip_pitch_1" value="0.0" />
    <joint name="knee_pitch_1" value="0.0" />
    <joint name="ankle_pitch_1" value="0.0" />
    <joint name="ankle_yaw_1" value="0.0" />
  </group_state>  
  
  <group_state name="convenient" group="front_right_leg">
    <joint name="hip_yaw_2" value="0.0" />
    <joint name="hip_pitch_2" value="0.0" />
    <joint name="knee_pitch_2" value="0.0" />
    <joint name="ankle_pitch_2" value="0.0" />
    <joint name="ankle_yaw_2" value="0.0" />
  </group_state>  

  <group_state name="convenient" group="back_left_leg">
    <joint name="hip_yaw_3" value="0.0" />
    <joint name="hip_pitch_3" value="0.0" />
    <joint name="knee_pitch_3" value="0.0" />
    <joint name="ankle_pitch_3" value="0.0" />
    <joint name="ankle_yaw_3" value="0.0" />
  </group_state>  
  
  <group_state name="convenient" group="back_right_leg">
    <joint name="hip_yaw_4" value="0.0" />
    <joint name="hip_pitch_4" value="0.0" />
    <joint name="knee_pitch_4" value="0.0" />
    <joint name="ankle_pitch_4" value="0.0" />
    <joint name="ankle_yaw_4" value="0.0" />
  </group_state>  

  <group_state name="convenient" group="right_arm">
    <joint name="j_arm2_1" value="0.5" />
    <joint name="j_arm2_2" value="1.2" />
    <joint name="j_arm2_3" value="0.0" />
    <joint name="j_arm2_4" value="1.2" />
    <joint name="j_arm2_5" value="0.0" />
    <joint name="j_arm2_6" value="0.0" />
    <joint name="j_arm2_7" value="0.0" />
  </group_state>
  
  <group_state name="convenient" group="left_arm">
    <joint name="j_arm1_1" value="-0.5" />
    <joint name="j_arm1_2" value="-1.2" />
    <joint name="j_arm1_3" value="0.0" />
    <joint name="j_arm1_4" value="-1.2" />
    <joint name="j_arm1_5" value="0.0" />
    <joint name="j_arm1_6" value="0.0" />
    <joint name="j_arm1_7" value="0.0" />
  </group_state>
  
  <group_state name="convenient" group="right_arm_and_torso">
    <joint name="torso_yaw" value="0.0" />
    <joint name="j_arm2_1" value="0.5" />
    <joint name="j_arm2_2" value="1.2" />
    <joint name="j_arm2_3" value="0.0" />
    <joint name="j_arm2_4" value="1.2" />
    <joint name="j_arm2_5" value="0.0" />
    <joint name="j_arm2_6" value="0.0" />
    <joint name="j_arm2_7" value="0.0" />
  </group_state>
  
  <group_state name="convenient" group="left_arm_and_torso">
    <joint name="torso_yaw" value="0.0" />
    <joint name="j_arm1_1" value="-0.5" />
    <joint name="j_arm1_2" value="-1.2" />
    <joint name="j_arm1_3" value="0.0" />
    <joint name="j_arm1_4" value="-1.2" />
    <joint name="j_arm1_5" value="0.0" />
    <joint name="j_arm1_6" value="0.0" />
    <joint name="j_arm1_7" value="0.0" />
  </group_state>

</robot>
