<!--<?xml version="1.0"?>-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="middleware" params="link robot">

    <plugin name="${link}_bumper" filename="libgazebo_ros_bumper.so">
      <bumperTopicName>${robot}/contacts_${link}</bumperTopicName>
      <frameName>${link}</frameName>
    </plugin>

</xacro:macro>

</robot>
