<!--<?xml version="1.0"?>-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="contact_sensor" params="link robot">

<gazebo reference="${link}">
  <sensor name="${link}_contact_sensor_1" type="contact">
    <always_on>true</always_on>
    <update_rate>1000.0</update_rate>
    <contact>
      <collision>${link}_collision_1</collision>
    </contact>
    <plugin name="${link}_bumper" filename="libgazebo_ros_bumper.so">
      <bumperTopicName>${robot}/contacts_${link}</bumperTopicName>
      <frameName>${link}</frameName>
    </plugin>
  </sensor>
</gazebo>

</xacro:macro>

</robot>
